<!DOCTYPE html>

	<head>
	</head>
	
	<body>
	
	 
	<div class="bs-example" data-example-id="simple-table">
    <table class="table">
      <caption>List of all visitors.</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Date of visit</th>
		  <th>Barber</th>
		  <th>Color</th>
        </tr>
      </thead>
      <tbody>
	  <%@results.each do |row|%>
        <tr>
          <th scope="row"> <%= row[0] %> </th>
          <td><%= row[1]%></td>
          <td><%= row[2]%></td>
          <td><%= row[3]%></td>
		  <td><%= row[4]%></td>
		  <td><%= row[5]%></td>
        </tr>
        <%end%>
		
      </tbody>
    </table>
	</div>
	</body>